@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Han Violins</title>
    <link href="~/favicon.png" rel="icon">
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out.</p>
        <p>Please close your browser now!</p>
    </header>
</body>

</html>
