@using Microsoft.AspNetCore.Localization
@using HansViolinWebApp.Resources

@inject LocalizationService Localizer
@model HansViolinWebApp.Models.BusinessDetail

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    ViewData["Title"] = Localizer.Localize("about");
    var sanitizer = new Ganss.XSS.HtmlSanitizer();
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}


<section id="about" class="title-padding">
    <div class="container mb-5">
        <div data-aos="fade-up">
            <div class="title">
                <h2>@Localizer.Localize("about-us")</h2>
            </div>
        </div>
        <div class="mb-3" data-aos="fade-up" data-aos-delay="100">
            <img src=@Model.ImageLink class="w-100" />
        </div>
        <div data-aos="fade-up" data-aos-delay="200">
            <div class="mb-3">
                @if (requestCulture.RequestCulture.Culture.Name == "zh")
                {
                    @Html.Raw(sanitizer.Sanitize(Model.AboutZh))
                }
                else
                {
                    @Html.Raw(sanitizer.Sanitize(Model.About))
                }
            </div>

        </div>
    </div>
</section>
