@model HansViolinWebApp.Models.BusinessDetail

@{
    ViewData["Title"] = "Contact";
    var mailto = "mailto:" + Model.Email;

}

<div id="header-bg" class="header-visible"></div>

<section id="contact" class="title-padding">
    <div class="container mb-5">
        <div  data-aos="fade-up">
            <div class="title">
                <h2>Contact Us</h2>
            </div>
        </div>
        <div id="map-container-google" class="z-depth-1-half map-container"  data-aos="fade-up" data-aos-delay="100">
            <iframe src="https://maps.google.com/maps?q=chicago&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
        </div> <!--Google Maps-->
        <div  data-aos="fade-up" data-aos-delay="200">
            <div class="mb-3">
                <div class="row mt-3"></div>
                <div class="col-lg-4">
                    <div class="info">
                        <div class="phone">
                            <span>Tel:</span>
                            <span>@Model.Phone</span>
                        </div>
                        <div class="email">
                            <span>Email:</span>
                            <span><a href=@mailto>@Model.Email</a></span>
                        </div>
                        <div class="address">
                            <span>Address:</span>
                            <span>@Model.Address, @Model.Postcode</span>
                        </div>
                        @await Component.InvokeAsync("SocialLinks")
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
