@{
    ViewData["Title"] = "Home Page";
}

<section id="hero" style="background-image: url(../img/home.jpg)">
    <div class="hero-container">
        <div class="wow fadeIn">

            <h1 data-aos="fade-up">Han Violins</h1>
            <div class="description-wrapper" data-aos="fade-up" data-aos-delay="100">
                <p class="newline-wrapper">Some eye catching description</p>
            </div>
            <div class="actions" data-aos="fade-up" data-aos-delay="100">
                <a href="#about" class="btn-get-started">Read More</a>
            </div>
        </div>
    </div>
</section><!-- End Hero -->
