@model HansViolinWebApp.Models.News
@{
    ViewData["Title"] = Model.Title;
    var sanitizer = new Ganss.XSS.HtmlSanitizer();
    sanitizer.AllowedCssProperties.Add("flex-wrap");
    sanitizer.AllowedCssProperties.Add("justify-content");
}

<div id="header-bg" class="header-visible"></div>

<section id="breadcrumbs" class="breadcrumbs">
    <div class="container"></div>
    <div class="container">

        <div class="d-flex justify-content-between align-items-center">
            <h2> </h2>
            <ol>
                <li><a asp-controller="home" asp-action="index">Home</a></li>
                <li><a asp-controller="news" asp-action="index">News</a></li>
                <li style="color: #EB5552">Article</li>
            </ol>
        </div>

    </div>
</section><!-- End Breadcrumbs -->


<section id="news-detail">
    <div class="container mb-5">
        <div class="news-container">
            <div class="title" data-aos="fade-up">
                <h3>@Model.Title</h3>
                <hr />
            </div>
            <div class="mb-5 addition-info"  data-aos="fade-up">
                @if (Model.PublishedDate != null)
                {
                    <span>Published on </span> @Model.PublishedDate.Value.Date.ToString("dd MMM yyyy")
                }
            </div>
            <div class="news-content mb-3"  data-aos="fade-up" data-aos-delay="100">
                @Html.Raw(sanitizer.Sanitize(Model.Content))
            </div>
        </div>
    </div>
</section>