
@model HansViolinWebApp.Models.Image

<div class="modal fade" id="deleteImage">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteImageLabel">Delete Image</h4>
            </div>
            <div class="modal-body">
                <div>Delete this image?</div>
                <form asp-action="DeleteImage">
                    <div class="form-group">
                        <input type="hidden" asp-for="ImageId" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-save="modal">Delete</button>
            </div>
        </div>
    </div>
</div>