
@model HansViolinWebApp.Models.Item

<div class="modal fade" id="deleteItem">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteItemLabel">Delete Item</h4>
            </div>
            <div class="modal-body">
                <div>Delete <strong>@Model.ItemName</strong> and its images?</div>
                <form asp-action="DeleteItem">
                    <div class="form-group">
                        <input type="hidden" asp-for="ItemId" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-save="modal">Delete</button>
            </div>
        </div>
    </div>
</div>