@model HansViolinWebApp.Models.Category

<div class="modal fade" id="editCategory">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editCategoryLabel">Edit Category</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="EditCategory" id="form-content">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CategoryId" />
                            <input type="hidden" asp-for="CategoryNameZh" />
                            <input type="hidden" asp-for="DescriptionZh" />
                            <input type="hidden" asp-for="PathName" />

                            <div class="form-group">
                                <label asp-for="CategoryName" class="control-label">Name*</label>
                                <input asp-for="CategoryName" class="form-control" />
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea rows="3" asp-for="Description" class="form-control">@Model.Description</textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CoverUrl" class="control-label">Cover Image Link</label>
                                <input asp-for="CoverUrl" class="form-control" />
                                <span asp-validation-for="CoverUrl" class="text-danger"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>

