@model HansViolinWebApp.Models.Item

<div class="modal fade" id="editCover">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editCoverLabel">Choose Cover</h4>
            </div>
            <div class="modal-body">
                <div class="text-center">Set this image as cover?</div>
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="EditItemCover">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="ItemId" />
                            <input type="hidden" asp-for="CategoryId" />
                            <input type="hidden" asp-for="CategoryName" />
                            <input type="hidden" asp-for="ItemName" />
                            <input type="hidden" asp-for="Description" />
                            <input type="hidden" asp-for="PriceRange" />
                            <input type="hidden" asp-for="CoverId" />
                            <div class="form-group">
                                <label asp-for="CoverUrl" class="control-label">Cover Link</label>
                                <input asp-for="CoverUrl" class="form-control" />
                                <span asp-validation-for="CoverUrl" class="text-danger"></span>
                            </div>
                            <input type="hidden" asp-for="OriginInfo" />
                            <input type="hidden" asp-for="Status" />
                            <input type="hidden" asp-for="DateAdded" />
                            <input type="hidden" asp-for="ItemNameZh" />
                            <input type="hidden" asp-for="OriginInfoZh" />
                            <input type="hidden" asp-for="SoldInfo" />
                            <input type="hidden" asp-for="SoldinfoZh" />
                            <input type="hidden" asp-for="DescriptionZh" />
                        </form>
                    </divclass="col-md-12">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-save="modal">Save</button>
            </div>
        </div>
    </div>
</div>


