@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using HansViolinWebApp.Resources

@inject LocalizationService Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<div title="@requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage" asp-controller="Home"
          asp-action="SetLanguage" asp-route-returnUrl="@returnUrl"
          method="post" class="form-horizontal d-flex justify-content-center" role="form" >
        @if (requestCulture.RequestCulture.Culture.Name == "en")
        {
            <span class="active">English</span>
            <button type="submit" name="culture" value="zh" class="btn btn-white px-4">简体中文</button>
        }
        else if (requestCulture.RequestCulture.Culture.Name == "zh")
        {
            <button type="submit" name="culture" value="en" class="btn btn-white">English</button>
            <span class="active px-4">简体中文</span>
        }
        else
        {
            <button type="submit" name="culture" value="en" class="btn btn-white">English</button>
            <button type="submit" name="culture" value="zh" class="btn btn-white px-4">简体中文</button>
        }
    </form>
</div>