@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Han Violins</title>
    <link href="~/favicon.png" rel="icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="text-center pt-3">
            <h1>500</h1>
            <h4>An error occurred while processing your request.</h4>
        </div>
     
    </div>
</body>

</html>


