

.image-fill {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.description-wrapper {
    margin: 10px;
    padding: 20px 20px 0 20px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    font-family: 'Vollkorn SC', serif, 'Long Cang', cursive;
    overflow: hidden;
}

@media (max-width: 991px) {
    .description-wrapper {
        font-size: 18px;
    }
}

.content-wrapper {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.instrument-container {
    display: block;
    width: 400px;
    max-width: 80%;
}

.title-padding {
    padding-top: 120px;
}

@media (max-width: 991px) {
    .title-padding {
        padding-top: 100px;
    }
}

.title {
    margin-bottom: 10px;
}

.addition-info {
    font-style:italic;
    color: gray;
}

.text-content {
    line-height:24px;
    margin-top: 20px;
    margin-bottom: 0;
}


.instrument-content {
    display: block;
    width: 550px;
    max-width: 80%;
}

.instrument-image {
    width: 100%;
}

.tab-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active-image {
    opacity: 1 !important;
}

.instrument-heading {
    padding: 5px 0px;
    text-align: center;
}

#hero .instrument-heading .heading {
    color: white;
    font-size: 18px;
}

.image-tabs {
    display: flex;
    flex-wrap: wrap;
}
#instrument-carousel .owl-stage {
    overflow:hidden;
}
#instrument-carousel .owl-stage .owl-item {
    transition: all 0.5s;
}

    #instrument-carousel .owl-nav.disabled {
        display:block;
    }

#instrument-carousel .owl-stage .small {
    transform: scale(0.66);
    -webkit-transform: scale(0.66);
    -moz-transform: scale(0.66);
    -o-transform: scale(0.66);
    -ms-transform: scale(0.66);
}
 #instrument-carousel .owl-stage .middle {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    -ms-transform: scale(0.85);
}

#instrument-carousel .owl-stage .front {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}

#instrument-carousel .owl-nav .owl-prev, #instrument-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    width: 22px;
    height: 22px;
    font-size: 1px;
    color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#instrument-carousel .owl-nav [class*=owl-]:hover {
    background-color: transparent !important;
}
#instrument-carousel .owl-nav [class*=owl-]:focus {
    outline: 1px dotted;
}

#instrument-carousel .owl-nav .owl-prev {
    left: 0;
    background-image: url(/img/arrow-l.png);
}

#instrument-carousel .owl-nav .owl-next {
    right: 0;
    background-image: url(/img/arrow-r.png);
}

.small {
    font-size: 100% !important;
}


#carousel .carousel-control-prev .carousel-control-prev-icon {
    background-image: url(/img/arrow-l.png);
}

#carousel .carousel-control-next .carousel-control-next-icon {
    background-image: url(/img/arrow-r.png);
}

/*
 * Extra utilities
 */
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 10em;
    height: 5em;
    max-width: 25%;
    padding: 0px;
}

    /* Style the images inside the grid */
    .column img {
        opacity: 0.3;
        cursor: pointer;
    }

        .column img:hover {
            opacity: 1;
        }
        .column img:checked {
            opacity: 1;
        }

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}
