.active-vl {
    border: none;
    border-left: 8px solid #7C518C;
    padding: 0;
    height: inherit;
}

.sold-vl {
    border: none;
    border-left: 8px solid #EB5552;
    padding: 0;
    height: inherit;
}

.draft-vl {
    border: none;
    border-left: 8px solid lightgray;
    padding: 0;
    height: inherit;
}

.big-button {
    width: 100% !important;
    padding: 25px !important;
}

.content-container {
    margin-top: 120px;
    margin-bottom: 50px;
}

.card-body {
    padding: 0;
}

.category-container {
    margin:0;
    padding:0;
}

.container-title {
    display: flex;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
}

.container-action {
    align-self: center;
}

.header-image {
    height: 50px;
}

.admin-sub-container {
    padding:20px;
}

.newline-wrapper {
    white-space: pre-line;
}

.admin-card-header {
    font-size: 24px;
    color: #7C518C;
    margin-right: 10px;
    width: 1600px;
    max-width: 80%;
    text-align: initial;
}
    .admin-card-header:hover, .admin-card-header:focus {
        color: #7C518C;
        text-decoration: none;
    }

.admin-sub-header {
    font-size: 18px;
    color: #7C518C;
    margin-right: 10px;
    width: 1600px;
    max-width: 80%;
    text-align: initial;
}

    .admin-sub-header:hover, .admin-sub-header:focus {
        color: #7C518C;
        text-decoration: none;
    }

.admin-image-container {
    display: block;
    position: relative;
}
.admin-table-image {
    width: 150px;
    border: 1px solid #7C518C;
}

.selected {
    box-shadow: 0 0 0 0.2rem #EB5552;
}

.btn-x {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: lightgray;
    color: white;
    top: -3%;
    right: -5%;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50%;
    padding: 0;
    line-height: 10px;
    border-color: white;
    z-index:100;
}
    .btn-x:hover {
        background-color: #BF3B44;
    }
    .btn-x:active, .btn-x:focus {
        outline: none;
        box-shadow: none;
    }